body{

  background: linear-gradient(135deg, #0a1d37 0%, #070380 75%, #191583 85%, #ffffff 100%);
}

.timer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.timer {
  position: relative;
  width: 200px;
  height: 200px;
  margin-bottom: 40px;
}

.orbit-container {
  position: absolute;
  top: 50%;  /* Alinha ao meio vertical */
  left: 50%;  /* Alinha ao meio horizontal */
  transform: translate(-50%, -50%);  /* Ajusta para exatamente no centro */
  width: 100%;  /* Garantir que ocupe todo o espaço disponível */
  height: 100%;  /* Garantir que ocupe toda a altura */
  display: flex;
  align-items: center;
  justify-content: center;
}

.large-ball {
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  position: absolute;  /* Importante para que a bola seja centralizada em relação ao container */
  top: 50%;  /* Centraliza verticalmente */
  left: 50%;  /* Centraliza horizontalmente */
  transform: translate(-50%, -50%);  /* Ajusta a posição para exatamente no centro */
  z-index: 2;
}

.orbit-path {
  position: absolute;
  width: 330px; /* Diâmetro da órbita */
  height: 330px;
  border: 2px solid #007bff;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.small-ball {
  width: 20px;
  height: 20px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: -160px 0; /* A origem da rotação é ajustada aqui */
  animation-name: orbit;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes orbit {
  0% {
    transform: rotate(0deg) translateX(-160px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translateX(-160px) rotate(-360deg);
  }
}

.time-control {
  text-align: center;
}

.time-selector label {
  display: block;
  margin-top: 50px;
  margin-bottom: 10px;
}

.time-selector input {
  width: 80px;
  padding: 5px;
  margin-right: 10px;
  width: 50%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.time-selector button,
.time-display button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.time-selector button:disabled {
  background-color: #d3d3d3;
}

.time-display span {
  margin-top: 50px;
  font-size: 24px;
  font-weight: bold;
  color: aliceblue;
}

.time-display {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.time-display button {
  margin-top: 10px;
}
