/* Estilos para o menu deslizante */
.slide-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50vh; /* O menu ocupará metade da tela */
  background-color: #020126;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  z-index: 10;
  overflow-y: auto;
  transform: translateY(100%); /* Começa fora da tela */
  transition: transform 0.5s ease-in-out;
  border: 10px solid #1B66FF;
  border-radius: 15px 15px 0 0;
}

.slide-menu.open {
  transform: translateY(0); /* Quando aberto, desliza para cima */
}

.slide-menu h2 {
  color: #fff;
  font-size: 32px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.planet-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Exibe os planetas em 3 colunas */
  gap: 20px;
  padding: 20px;
  width: 100%;
  margin-bottom: 80px;
  justify-items: center;
}

.planet-button {
  width: 80px;
  height: 80px;
  background-size: cover;
  background-position: center;
  border: none;
  border-radius: 50%;
  transition: transform 0.3s ease, filter 0.3s ease;
  cursor: pointer;
  position: relative;
}

.planet-button.locked {
  filter: grayscale(100%);
  cursor: not-allowed;
}

.planet-button:not(.locked):hover {
  transform: scale(1.2);
}

.planet-button:disabled::after {
  content: attr(data-hours) "h";
  display: block;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.locked-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}

