/* Estilos gerais para o body */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Estilo para o container principal */
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #0a1d37 0%, #070380 75%, #191583 85%, #ffffff 100%);
}

/* Estilo para o container da conta */
.account-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza o conteúdo horizontalmente */
  justify-content: center; /* Centraliza o conteúdo verticalmente */
  max-width: 400px;
  margin: 25px;
  padding: 20px;
  border-radius: 15px;
  text-align: center; /* Centraliza o texto */
  background: linear-gradient(135deg, #ffffff -50%, #191583 20%, #070380 40%, #0a1d37 100%);
}

.account-container h1 {
  color: aliceblue;
}

profile {
  width: 80px;
  height: auto;
  margin-bottom: 20px; /* Ajusta o espaçamento inferior */
}

/* Estilo para os botões da página */
.options-container button,
.popup-buttons button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  background-color: white;
  color: black;
  margin-top: 15px;
  margin-bottom: 20px;
  transition: opacity 0.3s ease;
}

.options-container button:hover,
.popup-buttons button:hover {
  opacity: 0.8;
}

/* Estilo para o formulário */
.input-group input,
.popup textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Estilo para o popup */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
  z-index: 999;
}

.popup.show {
  opacity: 1;
  visibility: visible;
}

.popup-content {
  background: linear-gradient(135deg, #0a1d37 -80%, #070380 75%, #191583 85%, #ffffff 200%);
  padding: 20px;
  border: 1px solid white;
  border-radius: 10px;
  width: 90%;
  max-width: 500px;
  transform: scale(0.9);
  transition: transform 0.3s ease;
  color: white;
}

.popup.show .popup-content {
  transform: scale(1);
}

/* Estilo das estrelas para avaliação */
.popup .stars {
  text-align: center;
}

.popup .star {
  font-size: 24px;
  cursor: pointer;
  color: #ffd700;
  margin: 0 5px;
}

.popup .star.filled {
  color: #ffcc00;
}

/* Estilo para os botões e inputs dentro do popup */
.popup-buttons button,
.popup input,
.popup textarea {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  background-color: white;
  color: black;
  margin-top: 15px;
  margin-bottom: 20px;
  transition: opacity 0.3s ease;
}

.popup-buttons button:hover,
.options-container button:hover {
  opacity: 0.8;
}

/* Estilo para o overlay de fundo do popup */
.popup-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  transition: opacity 0.5s ease;
  opacity: 0;
}

.popup.show .popup-overlay {
  opacity: 1;
}

/* Estilo de links e mensagens de erro */
.cadastro-error {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
  text-align: center;
}

.cadastro-link {
  color: #4CAF50;
  text-decoration: none;
  text-align: center;
  display: block;
  margin-top: 10px;
}

p {
  color: aliceblue;
}
